@font-face {
  font-family: 'iconfont'; /* Project id 3297403 */
  src: url('//at.alicdn.com/t/font_3297403_50qhq3yd68l.woff2?t=1648818856069')
      format('woff2'),
    url('//at.alicdn.com/t/font_3297403_50qhq3yd68l.woff?t=1648818856069')
      format('woff'),
    url('//at.alicdn.com/t/font_3297403_50qhq3yd68l.ttf?t=1648818856069')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchexuanzhong:before {
  content: '\e600';
}

.icon-xiangxia:before {
  content: '\e85d';
}
